[Unit]
Description=Test App (Green)

[Service]
ExecStart=/usr/bin/docker run --rm --name envshow_green bobtfish/app-envshow:green
ExecStartPost=/usr/bin/docker run --rm -e NERVE_APP=testapp --name envshow_green_reg --link etcd:etcd --link envshow_green:envshow bobtfish/nerve-etcd
ExecStop=/usr/bin/docker kill --name envshow_green_reg
ExecStopPost=/usr/bin/docker kill envshow_green

[X-Fleet]
X-Conflicts=testapp-http.green.*.service

