[Unit]
Description=Test App (Blue) Health checker
After=docker.service
Requires=docker.service
BindsTo=testapp.app.blue.3.service

[Service]
TimeoutStartSec=600
ExecStartPre=/usr/bin/docker pull bobtfish/nerve-etcd
ExecStart=/bin/bash -c "HOST_IP=$(/bin/ifconfig enp0s8 | awk '/inet /{print $2}') && exec /usr/bin/docker run --rm -e ETCD_PORT_4001_TCP_ADDR=$HOST_IP -e ETCD_PORT_4001_TCP_PORT=4001 -e NERVE_APP=testapp --name envshow_blue_nerve --link envshow_blue:envshow bobtfish/nerve-etcd"
ExecStop=/usr/bin/docker kill envshow_blue_nerve
ExecStopPost=/usr/bin/docker rm envshow_blue_nerve

[X-Fleet]
X-ConditionMachineOf=testapp.app.blue.3.service

