[Unit]
Description=Test App (Blue)

[Service]
ExecStart=/usr/bin/docker run --rm --name envshow_blue bobtfish/app-envshow:blue
ExecStartPost=/usr/bin/docker run --rm -e NERVE_APP=testapp --name envshow_blue_reg --link etcd:etcd --link envshow_blue:envshow bobtfish/nerve-etcd
ExecStop=/usr/bin/docker kill --name envshow_blue_reg
ExecStopPost=/usr/bin/docker kill envshow_blue

[X-Fleet]
X-Conflicts=testapp-http.blue.*.service

