[Unit]
Description=Test App (Green)
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=/usr/bin/docker pull bobtfish/app-envshow
ExecStart=/usr/bin/docker run --rm --name envshow_green bobtfish/app-envshow:green
ExecStop=/usr/bin/docker kill envshow_green
ExecStopPost=/usr/bin/docker rm envshow_green

[X-Fleet]
X-Conflicts=testapp.app.green.*.service

