[Unit]
Description=Test App (Blue)
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=600
ExecStartPre=/usr/bin/docker pull bobtfish/app-envshow
ExecStart=/usr/bin/docker run --rm --name envshow_blue bobtfish/app-envshow:blue
ExecStop=/usr/bin/docker kill envshow_blue
ExecStopPost=/usr/bin/docker rm envshow_blue

[X-Fleet]
X-Conflicts=testapp.app.blue.*.service

